#APP
APP_PORT=3000
APP_NAME=nestjs-template

#JWT
JWT_SECRET=your_secret_here
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600 #expiration time in seconds
JWT_REFRESH_TOKEN_TTL=86400 #expiration time in seconds

#Google
GOOGLE_CLIENT_ID= #google client id
GOOGLE_CLIENT_SECRET= #google client secret

#DB
DB_HOST=localhost #default host
DB_PORT=27017 #default port
DB_NAME=nestjs-template #database name
DB_URI=mongodb:// #mongodb uri

#Redis
REDIS_HOST=localhost #default host
REDIS_PORT=6379 #default port

#Crypto RSA keys
PRIVATE_KEY_PATH=keys/private-key.key #path to private key
PUBLIC_KEY_PATH=keys/public-key.crt #path to public key

#Mailer
EMAIL_USER=example@gmail.com #email
EMAIL_PASSKEY=your_passkey_here #email passkey
EMAIL_USERNAME=Nestjs-Template #email username
EMAIL_SERVICE=gmail #example: gmail